/* CSS Reset - https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/* Theme */

/* 

System fonts 
- https://css-tricks.com/snippets/css/system-font-stack/ 
- https://github.com/jonathantneal/system-font-css/blob/gh-pages/system-font.css

Monospace system fonts
- https://www.client9.com/css-system-font-stack-monospace-v2/
*/

html {
  background-color: #0C0C0D;
  font-size: 100%; /* 100% == 16px */
  /*
	.25rem; // 4px
	.5rem; // 8px
  1rem; // 16px
	1.125rem; // 18px
	1.25rem; // 20px
	1.5rem; // 24px
	1.625rem; // 26px
	1.75rem; // 28px
	2.125rem; // 34px
	2.25rem; // 36px
	2.5rem; // 40px
	*/

  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif;
  --font-system: "system-ui";
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  --font-heading: Oswald;
}

body {
  background-color: #0C0C0D;
  -webkit-font-smoothing: antialiased;
  color: #d0d0d0;
  font-family: var(--font-mono);
  font-size: 1rem;
}

main {
  padding-bottom: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0;
}

p + p {
  marging-top: 1rem;
}

a {
  color: white;
}

a:focus,
a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  box-shadow: 0 0 0 0.2em white;
}

.offscreen {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

header {
  /*background-color: #17202A;*/
  color: #EAECEE;
  padding: 2rem;
}

h1 {
  font-family: var(--font-heading), var(--font-system);
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.tweets {
  list-style: disc inside;
  margin: 1rem;
  padding: 0;
}

.tweets li {
  padding: 1rem;
}

.tweets li::marker {
  content: "‣ ";
}

.tweets span {
  font-size: 1.125rem;
  font-style: italic;
}

/*
.tweets li:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
*/

/*
.tweets li:focus,
.tweets li:hover {
  filter: invert(1);
}
*/

footer {
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  position: fixed;
}

.searchbox {
  display: flex;
  background-color: white;
  padding: 0;
}

.searchbox:focus-within label {
  background-color: black;
  color: white;
}

label {
  color: black;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  flex-grow: 0;
}

input:focus {
  outline: 0;
  box-shadow: 0 -4px 0 0px black inset;
}

input {
  flex:1;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 1em;
  font-weight: 900;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 1.1rem;
  border: none;
  padding: 0.5em;
  margin: 1rem 0.5rem;
}

button:hover,
button:focus {
  color: white;
  background-color: #274461;
}

@media all and (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
}
